@model producto


<div class="tarjeta widget" data-categoria="@Model.CategoriaId">
    <span>80Bs</span>
    <div class="fondo">
        <img src="~/imagenes/@Model.imagen" alt="">
    </div>
    <div class="texto">
        <p>
            <a class="textTarjeta" 
               asp-controller="producto"
               asp-action="Details"
               asp-route-id="@Model.productoId">@Model.productoNombre
           </a>
        </p>
        <p>Categoria : @Model.Categoria.categoriaNombre</p>
        <a class="btnTarjeta" 
           asp-controller="ShoppingCart"
           asp-action="AddToShoppingCart"
           asp-route-productoId="@Model.productoId"><i class="bi bi-cart3"></i> Comprar
       </a>
    </div>
</div>

